<div class="area-info info">
  <h2>〜 <%= params[:area_name] %> 〜</h2>

  <div class="area-movie movie">
    <% if @movie_data.present? %>
      <%= @movie_data.code.html_safe %>
      <p><%= params[:area_name] %> PRムービー</p>
    <% else %>
      <p>動画情報はまだありません。</p>
    <% end %>
  </div>

  <div class="area-images images">
    <% if @area_data.any? %>
      <% @area_data.each do |area| %>
        <div class="area-image image">
          <%= link_to content_spot_path(params[:area_name], area.id) do %>
            <%= image_tag "/spot_thumbnail/#{area.thumbnail}", :size => "323x323" %>
          <% end %>
          <p><%= area.name %></p>
        </div>
      <% end %>
    <% else %>
      <p><%= params[:area_name] %>の情報はまだありません。</p>
    <% end %>
    <%= paginate @area_data %>
  </div>
</div>