<div class="spot-info info">
  <h2>〜 <%= @spot_data.name %> 〜</h2>

  <div class="spot-movie movie">
    <% if @movie_data.present? %>
      <%= @movie_data.code.html_safe %>
      <p><%= @spot_data.name %> PR動画</p>
    <% else %>
      <%= image_tag "/spot_thumbnail/#{@spot_data.thumbnail}", :size => "300x300" %>
      <p><%= @spot_data.name %></p>
    <% end %>
  </div>

  <div class="spot-images images">
    <% if @images.any? %>
      <div class="spot-image image">
        <% @images.each do |image| %>
          <%= image_tag "/spot_images/#{image.file_name}", :size => "320x320" %>
        <% end %>
      </div>
    <% else %>
        <p><%= @spot_data.name %>の画像はまだ設定されていません。</p>
    <% end %>
  </div>

  <h2><%= @spot_data.name %>とは？</h2>
  <%= @spot_data.content %>
</div>