<%= render partial: "layouts/errors" %>

<div class="spot-single manage">
  <%= form_with url: works_spot_single_path(params[:id]), method: "post", local: true do |f| %>
    <div class="form_field">
      <%= f.label :name, "スポット名" %>
      <%= f.text_field :name, :value => @spot_data.name %>
    </div>
    <div class="form_field">
      <%= f.label :region_num, "都道府県" %>
      <%= f.select :region_num, @str_param, :selected => @spot_data.region_num %>
    </div>
    <div class="form_field">
      <div>
        <% if @spot_data.thumbnail.present? %>
          <p>現在のサムネ</p>
          <%= image_tag "/spot_thumbnail/#{@spot_data.thumbnail}", :size => "200x200" %>
        <% else %>
          サムネは設定されていません。
        <% end %>
      </div>
      <%= f.label :thumbnail, "サムネを変更する" %>
      <%= f.file_field :thumbnail %>
    </div>
    <div class="form_field">
      <p>登録されている画像数: <%= @image_data %>  <%= link_to "画像編集へ", works_spot_images_path(@spot_data.id) %></p>
    </div>
    <div class="form_field">
      <%= f.label :code, "YouTube動画 共有コード" %>
      <% if @movie_data.present? %>
        <%= f.text_area :code, :value => @movie_data.code %>
      <% else %>
        <%= f.text_area :code %>
      <% end %>
    </div>
    <div class="form_field">
      <%= f.label :content, "記事" %>
      <%= f.rich_text_area :content %>
      <%= @spot_data.content %>
      </div>
    <div class="form_field">
      <%= f.submit "登録" %>
    </div>
  <% end %>
</div>
