<div class="spot-images manage">
  <%= form_with url: works_spot_images_path(@spot_data.id) do |f| %>
    <div class="form_field">
      <%= f.label :image, "画像を追加する" %>
      <%= f.file_field :image %>
    </div>
    <div class="form_field">
      <%= f.submit "登録" %>
    </div>
  <% end %>

  <div class="image-display">
    <% if @image_data.any? %>
      <% @image_data.each do |image| %>
        <div class="image">
          <%= image_tag "/spot_images/#{image.file_name}", :size => "300x300" %>
          <%= link_to works_spot_images_delete_path(params[:id], image.id) do %>
            <button>削除</button>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>画像は設定されていません。</p>
    <% end %>
  </div>
</div>