<div class="manage-sidebar">
  <ul>
    <li><%= link_to "HOME", works_home_path %></li>
    <li><%= link_to "スポット追加", works_spot_new_path %></li>
    <li><%= link_to "スポットリスト", works_spot_list_path %></li>
    <li><%= link_to "PR動画編集", works_movie_path %></li>
    <li><%= link_to "サインアウト", works_sign_out_path %></li>
  </ul>
</div>