<!DOCTYPE html>
<html>
  <head>
    <title>Triplanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  
  <body>
    <%= render partial: "layouts/header" %>
    <div class="main-container">
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
